ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{ margin: 0; padding: 0; }
a img,:link img,:visited img { border: none; }

a:link, a:visited
{
  text-decoration: underline;
  color:#9C4797;
}

a:hover
{
  text-decoration: none;
}

body, td
{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #F2ECF2;
}

body
{
  text-align: center;
}

div#header
{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: left;
  width: 780px;
  height: 102px;
  background:url(/images/header_background.gif) no-repeat top left;
}

div#header h1
{
  padding: 30px;
  font-family: Verdana, sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: #c8c8c8;
  letter-spacing: -1px;
}

div#header h1 strong
{
  color: #999;
}

div#header ul, div#footer ul
{
  list-style: none;
  display:inline;
  float:right;
  padding: 5px 5px;
  background: #d8732f url(/images/menu_left.gif) no-repeat left bottom;
  font-size: 11px;
}

div#header li, div#footer li, div#header form
{
  display: inline;
  list-style: none;
}

div#header li
{
  padding: 0 7px;
  font-weight: bold;
  border-right: solid 1px #fff;
}

div#header li.last
{
  border-right: none;
}

div#header .last input
{
  border: solid 1px gray;
  width:70px;
  background-color: #F4F4F4;
  vertical-align:sub;
  margin-top:7px;
}

div#header .last input:focus, div#header .last input:hover
{
  background-color: white;
}

div#header li :link, div#header li :visited
{
  color:#fff;
}

div#content_main
{
  background-color: white;
  padding:25px;
}

div#content_main h1
{
  margin: -25px;
  font-size:14px;
  font-family:Verdana, Arial, sans-serif;
  padding:20px 25px 40px 25px;
  color: #7E7E7E;
  background: url(/images/content_top.gif) no-repeat top left;
}

div#content_main h2
{
  font-size:14px;
}

div#content_main h3
{
  font-size:14px;
  padding: 10px 0;
}

div#content_main .interested_block
{
  float:left;
  padding:4px 10px 10px 0;
  width:60px;
}

div#content_main .interested_mark
{
  font-size: 2em;
  font-weight: bold;
  width: 40px;
  height: 26px;
  background: url(/images/interested_bubble.gif) no-repeat top left;
  text-align: right;
  margin-left:10px;
  color: #fff;
}

div#content_main .few_interests
{
  font-size: 20px;
  line-height: 26px;
  margin-right:10px;
}

div#content_main .some_interests
{
  font-size: 16px;
  line-height: 27px;
}

div#content_main .many_interests
{
  font-size: 13px;
  line-height: 25px;
}

div#content_main .interested_link
{
  text-align: center;
  font-size: 9px;
}

div#content_main .interested_link :link, div#content_main .interested_link :visited
{
  color: #f3b335;
}

div#content_main .question
{
  margin-bottom: 25px;
}

div#content_main .question_body
{
  margin-top:6px;
  padding-left:70px;
}

div#content_main .question_body li
{
  list-style-position: outside;
}

.vote_block
{
  width: 70px;
  float: left;
}

.answer
{
  padding-bottom: 10px;
}


div#content_main .vote_up_mark
{
  display:inline;
  float:left;
  width:35px;
  text-align:center;
  font-size: 10px;
}

div#content_main .vote_down_mark
{
  display:inline;
  float:left;
  width:35px;
  text-align:center;
  font-size: 10px;
}

div#content_main .answer_body
{
  padding-left:80px;
}

div#content_main .answer_body ul
{
  margin-left: 15px;
}

div#content_main hr
{
  background-color:white;
  border:none;
  border-top:solid 1px #B59D7A;
  clear:both;
  margin-bottom:10px;
}

div#content_main p
{
  padding-bottom: 10px;
}

div#content_bar
{
  background-color: white;
}

div#content_bar div.topbar
{
  background:url(/images/side_top.gif) no-repeat top left;
  height:15px;
  margin:-10px;
}

div#content_bar li
{
  padding: 0 0 5px 5px;
  list-style:none;
}

div#content_bar h2
{
  font-size:14px;
  font-family:Verdana, Arial, sans-serif;
  padding:5px 0;
  color: #7E7E7E;
}

div#footer
{
  margin-left: auto;
  margin-right: auto;
  height:80px;
  padding-top:40px;
  background:url(/images/footer_background.gif) no-repeat top left;
  text-align: right;
}

.form_error
{
  padding-left: 85px;
  color: #d8732f;
}

div#indicator
{
  position: absolute;
  width: 100px;
  height: 40px;
  left: 10px;
  top: 10px;
  z-index: 900;
  background: url(/images/indicator.gif) no-repeat 0 0;
}

.subtitle
{
  color: #9c4797;
  font-size: 11px;
}

.subtitle :link, .subtitle :visited
{
  font-weight: bold;
}

.clearleft
{
  clear: left;
}

.clearright
{
  clear: right;
}

.form input
{
  display: block;
  float: left;
  margin-bottom: 10px;
}

.form .right input
{
  display: inline;
  float: none;
  text-align: right;
}

.form label
{
  display: block;
  width: 75px;
  padding-right: 10px;
  margin-bottom: 10px;
  float: left;
  text-align: right;
}

fieldset
{
  border: none;
}

#login
{
  margin-bottom: 10px;
}

#login h2
{
  font-size: 14px;
  margin-bottom: 5px;
}

ul#tag_cloud
{
  list-style: none;
}

ul#tag_cloud li
{
  list-style: none;
  display: inline;
  padding: 5px;
}

ul#tag_cloud li.tag_popularity_1
{
  font-size: 80%;
}

ul#tag_cloud li.tag_popularity_2
{
  font-size: 100%;
}

ul#tag_cloud li.tag_popularity_3
{
  font-size: 130%;
}

ul#tag_cloud li.tag_popularity_4
{
  font-size: 160%;
}

#answers
{
  padding-top: 10px;
}

#add_question
{
  padding: 10px;
  margin: 7px 0 5px 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background: url(/images/add_background.gif) no-repeat left 7px;
}

#add_question :link, #add_question :visited
{
  color: #fff;
}

.options, .options :link, .options :visited
{
  color: #aaa;
}

.small
{
  font-size: 10px;
}

.in_form
{
  padding-left: 85px;
}

ul.plain_list
{
  margin-left: 15px;
}
